.column {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:nth-of-type(1) {
    margin-bottom: 43px;
    @media (max-width: 768px) {
      margin-bottom: 26px;
    }
  }

  h3 {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-subtitle);
    margin-bottom: 23px;
    @media (max-width: 768px) {
      font-size: 18px;
      margin-bottom: 0px;
    }
  }

  p {
    font-size: 21px;
    font-weight: 400;
    background-color: var(--background-card-list-text);
    border: 2px solid var(--border-card-list-text);
    border-radius: 10px;
    box-shadow: 0px 4px 4px var(--box-shadow-card-list-text);
    margin-bottom: 31px;
    padding: 16px 21px;
    width: 578px;
    line-height: 27px;
    @media (max-width: 768px) {
      width: 100%;
      font-size: 13px;
      margin-bottom: 19px;
      padding: 10px 13px;
    }

    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }
  }
}